/*global styles start*/
body{
    text-align: center;
    margin-top: 0;
    font-family: 'Merriweather', serif;

}
h1{
    font-family: 'Merriweather', serif;
    font-size: 25rem;
    font-weight: 900;
    line-height: 2;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}
nav{
    background-color: #BA704F;
    padding: 30px;
    font-size: 2.5rem;
    color: #f6f6f6;
    text-align: center;
    margin-bottom: 20px;

}
img{
 width: 100%;
 height: 80%;  
 padding: 5px; 
}
/*global styles end*/

/*search start*/
.search-container{
    width: 20%;
    color: white;
    margin-top: 50px;
    position: relative;
    left: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input{
    border: 1;
    outline: none;
    font-size: 20px;
    color: #cac7ff;
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}
::placeholder{
    color: #f6f6f6
}
.submit-btn{
    position: relative;
    left: 200px;
    bottom: 55px;
    background:transparent;
    color: white;
    border: none;
}
/*search end*/

/*art display start*/
.wrapper{
    font-size: 1rem;
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    margin-top: 28px;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: hidden 
}
.wrapper img{
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    margin-top: 28px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: hidden
}
.clicked-wrapper h6{
    margin-top: 50px;
    font-size: 50px;
    font-weight: 500;
}
.clicked-wrapper p{
    font-size: larger;
}
.artist-text{
    color:#808087;
    font-size: 50px;
}
/*art display end*/

/*footer*/
footer{
    background-color: #BA704F;
    padding: 50px 0 20px;
    margin: 900px 0 0 auto;
    color: #fff;
    text-align: center;
}
